# Composer
/vendor/
composer.phar

# npm
/node_modules

# env
.env

# PhpStorm
/.idea/

# Autoloader
/source/RIOClasses.php

# CSS
/public/css/main.css
/public/css/main.css.map

# JS
/public/js/main.js*

# Microsoft Office
*.tmp
~$*.doc*
Backup of *.doc*
~$*.xls*
*.xlk
*.~vsd*