{% extends "/base.twig" %}
{% block head %}
    <link id="theme" rel="stylesheet" type="text/css" href="{{ theme_css }}" />
{% endblock %}
{% block content %}
    {% set form = true is same as(form is not defined) ? false : form %}
    {% if true is same as(form) %}
        <div class="col-12">
            <h1>Login</h1>
        </div>
        <div class="col-12">
            <h2>user</h2>
            <form action="{{ action }}" method="post">
                <input type="hidden" name="login_type" value="user">
                <div class="form-group">
                    <label for="user_name">Username *</label>
                    <input type="text" class="form-control" id="user_name" name="name" required>
                </div>
                <button type="submit">Senden</button>
            </form>
        </div>
        <div class="col-12">
            <h2>admin</h2>
            <form action="{{ action }}" method="post">
                <input type="hidden" name="login_type" value="admin">
                <div class="form-group">
                    <label for="admin_name">Username *</label>
                    <input type="text" class="form-control" id="admin_name" name="admin_name" required>
                </div>
                <div class="form-group">
                    <label for="admin_password">Password *</label>
                    <input type="password" class="form-control" id="admin_password" name="admin_password" required>
                </div>
                <button type="submit">Senden</button>
            </form>
        </div>
    {% endif %}
{% endblock %}